img[src$='.gif'],
a.static-sponsor,
a[href*='ncell'],
a[href*='esewa'],
a[href*='khalti'],
a[href*='imepay'],
a[href*='bank'],
a[href*='dishhome'],
a[href*='insurance'],
img[src*='ad-'],
img[src*='-ad'],
img[src*='ad.'],
img[src*='_ad'],
img[src*='ad_'],
/* *[id*='_ad'],
*[class*='_ad'],
*[id*='ad_'],
*[class*='ad_'],
*[id*='-ad'],
*[class*='-ad'],
*[id*='ad-'],
*[class*='ad-'], */
*[id*='bigyapan_'],
*[class*='_bigyapan'],
*[id*='bigyapan-'],
*[class*='-bigyapan'],
*[id*='_bigyapan'],
*[class*='_bigyapan'],
*[id*='-bigyapan'],
*[class*='-bigyapan'],
*[class*='advertisement'] {
	display: none !important;
}
