body {
	margin: 0;
}
img {
	height: auto;
	max-width: 280px;
	width: 100%;
}
.modal {
	width: 300px;
}
.modal > * {
	padding: 1rem;
}
.modal-header {
	text-align: center;
}
.modal-body {
	padding: 0 1rem;
	margin: 0 0 1rem;
}
.modal-footer {
	background-color: #fafafa;
}
.newsreader-sidebar-panel {
	background-color: bisque;
	height: 100vh;
	width: 360px;
	position: fixed;
	right: 0;
	top: 0;
}
.adpanel {
	background: black;
	padding: 2rem;
}
